@font-face {
    font-family: square;
    src: url();
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("https://i.pinimg.com/originals/27/df/d6/27dfd6b55602f6da042af85a7a4b2225.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#hangman {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

#title {
    text-align: center;
    color: whitesmoke;
    margin-top: 150px;
}

#game-word {
    text-align: center;
    transform: scale(2.5);
    color: whitesmoke;
}

#letters {
    text-align: center;
    margin-top: 70px;
    color: whitesmoke;
    transform: scale(1.8);
}

