.black {
    transform: scale(.25)
}

.white {
    transform: scale(.25);
}

.blank {
    background-color: saddlebrown;
}

.playable {
    background-color: darkgray;
}

.container {
    max-height: 100vh;
    max-width: 100vw;
}